### Imports necessary to run program

In [1]:
import datetime
from datetime import timedelta
import os
import pandas as pd

openTime = datetime.datetime.strptime('9:30:0','%H:%M:%S').time()
closeTime = datetime.datetime.strptime('16:0:0','%H:%M:%S').time()

### Converts txt-files to csv-files and filters out data.
Note: The directory and output_path must exist in /Data_handler_tradingbot

In [22]:
def processData(directory):
    print('Processing ' + str(directory)+'...')
    for file in os.listdir(directory): 
        filename = os.fsdecode(file)
        print(str(filename) + str('...'))
        file_path = os.path.join(directory, filename)
        
        m = filename.split('_')[0]
        out = '{}.csv'.format(m) 

        df =  pd.read_csv(file_path, sep=',', header=None,low_memory=False)
        df.columns = ["DateTime", "Open", "High", "Low","Close", "Volume"]
        df["DateTime"] = pd.to_datetime(df["DateTime"])

        indecis = []
        for i in range(len(df.index)):
            given_time = df['DateTime'][i].time()

            if not (openTime <= given_time <= closeTime):
                indecis.append(i)

        df.drop(indecis, axis=0, inplace=True)
        print('....... dropped ' +  str(len(indecis)) + ' rows')

        output_path = 'temporary_output\{}'.format(out) 
        df.to_csv(output_path, index=False)
        print('....... created CSV file')
    print('DONE PROCESSING DIRECTORY')

In [23]:
processData('Stockstorun')

Processing Stockstorun...
ABMD_1min.txt...
....... dropped 12023 rows
....... created CSV file
ANET_1min.txt...
....... dropped 13269 rows
....... created CSV file
ANSS_1min.txt...
....... dropped 13767 rows
....... created CSV file
APH_1min.txt...
....... dropped 10833 rows
....... created CSV file
ASH_1min.txt...
....... dropped 10527 rows
....... created CSV file
AXP_1min.txt...
....... dropped 80295 rows
....... created CSV file
A_1min.txt...
....... dropped 20784 rows
....... created CSV file
CBH_1min.txt...
....... dropped 250 rows
....... created CSV file
CINF_1min.txt...
....... dropped 21386 rows
....... created CSV file
CNX_1min.txt...
....... dropped 27063 rows
....... created CSV file
DD_1min.txt...
....... dropped 8857 rows
....... created CSV file
DELL_1min.txt...
....... dropped 10506 rows
....... created CSV file
DISCK_1min.txt...
....... dropped 12153 rows
....... created CSV file
ENPH_1min.txt...
....... dropped 40580 rows
....... created CSV file
ETR_1min.txt...
....... dropped 13609 rows
....... created CSV file
FAST_1min.txt...
....... dropped 29791 rows
....... created CSV file
FE_1min.txt...
....... dropped 20220 rows
....... created CSV file
FRC_1min.txt...
....... dropped 6438 rows
....... created CSV file
FTNT_1min.txt...
....... dropped 20182 rows
....... created CSV file
GWW_1min.txt...
....... dropped 9847 rows
....... created CSV file
HBAN_1min.txt...
....... dropped 50001 rows
....... created CSV file
HII_1min.txt...
....... dropped 4105 rows
....... created CSV file
HST_1min.txt...
....... dropped 19595 rows
....... created CSV file
JD_1min.txt...
....... dropped 161847 rows
....... created CSV file
LOGI_1min.txt...
....... dropped 18131 rows
....... created CSV file
LRCX_1min.txt...
....... dropped 55269 rows
....... created CSV file
NEE_1min.txt...
....... dropped 26449 rows
....... created CSV file
NKTR_1min.txt...
....... dropped 24484 rows
....... created CSV file
NOW_1min.txt...
....... dropped 17315 rows
....... created CSV file
OTIS_1min.txt...
....... dropped 2661 rows
....... created CSV file
PFG_1min.txt...
....... dropped 15041 rows
....... created CSV file
PGR_1min.txt...
....... dropped 15652 rows
....... created CSV file
PSX_1min.txt...
....... dropped 22643 rows
....... created CSV file
REG_1min.txt...
....... dropped 11259 rows
....... created CSV file
SANM_1min.txt...
....... dropped 13451 rows
....... created CSV file
SIVB_1min.txt...
....... dropped 14435 rows
....... created CSV file
SO_1min.txt...
....... dropped 27067 rows
....... created CSV file
TTWO_1min.txt...
....... dropped 39272 rows
....... created CSV file
T_1min.txt...
....... dropped 270569 rows
....... created CSV file
URI_1min.txt...
....... dropped 22113 rows
....... created CSV file
DONE PROCESSING DIRECTORY

### Data processor for single files
Note: the file must be directly accesible from /Data_handler_tradingbot and not in a subdirectory

In [ ]:
file = 'FILE_NAME_IN_STRING' # Name of txt file
dat =  pd.read_csv(file, sep=',', header=None,low_memory=False) # dataframe creator 
dat.columns = ["DateTime", "Open", "High", "Low","Close", "Volume"] # adding column names 
dat["DateTime"] = pd.to_datetime(dat["DateTime"]) # assigning type to "DateTime"-column

In [ ]:
indecis = [] # List of indecis to be removed 

for i in range(len(dat.index)): # Iterate thourgh the file
    given_time = dat['DateTime'][i].time() # Get the time of index i 
    
    if not (openTime <= given_time <= closeTime): # if the time is not within the market... 
        indecis.append(i) # save its index 
print('Done')

In [ ]:
dat.drop(indecis, axis=0, inplace=True) # drop/remove all rows correcponding to indecis of the list of indecis
print('Dropped: ' +  str(len(indecis)) + ' rows')

output_path = 'temporary_output\{}.csv'.format('OUTPUT_NAME_IN_STRING') # specify the output-path 
dat.to_csv(output_path, index=False) # convert tha dataframe to csv and save it to the specified output-path

### Name handeling if file names need to be changed

In [ ]:
directory = 'DIRECTORY_NAME_IN_STRING'
for file in os.listdir(directory): 
    filename = os.fsdecode(file)
    
    f_name, f_ext = os.path.splitext(file)
    new_name = filename.replace(".txt","")
    
    file_path = os.path.join(directory, filename)
    new_file = os.path.join(directory, new_name)
        
    os.rename(file_path, new_file)

### Other

In [ ]:
file = 'stockstorun.txt' # Name of txt file
dat =  pd.read_csv(file, sep=',', header=None,low_memory=False) # dataframe creator 
dat.columns = ["Ticker"] # adding column names 
dat.sort_values(by=['Ticker'], inplace=True, ignore_index=True)
display(dat)

In [ ]:
csv_frame = pd.DataFrame()
dfs = []

for file in os.listdir('Stockstorun'): 
        filename = os.fsdecode(file)
        file_path = os.path.join('Stockstorun', filename)
        dataframe =  pd.read_csv(file_path, sep=',')
        dfs.append(dataframe)
print(dfs)

In [146]:
file_path1 = os.path.join('temporary_output', os.fsdecode('A.csv'))
df1 = pd.read_csv(file_path1, sep=',')[['DateTime', 'Close']]
df1.columns = ['DateTime','A']

file_path2 = os.path.join('temporary_output', os.fsdecode('DD.csv'))
df2 = pd.read_csv(file_path2, sep=',')[['DateTime', 'Close']]
df2.columns = ['DateTime','DD']

df = pd.merge(df1, df2, on=['DateTime'])
display(df)

#df.to_csv('nyy.csv',index=True)

                   DateTime         A       DD
0       2019-06-03 09:30:00   65.9370  62.3751
1       2019-06-03 09:31:00   66.2551  62.4036
2       2019-06-03 09:32:00   66.0740  62.4463
3       2019-06-03 09:33:00   66.0642  62.2896
4       2019-06-03 09:34:00   66.3285  62.3561
...                     ...       ...      ...
273981  2022-04-08 15:55:00  134.7460  68.7800
273982  2022-04-08 15:56:00  134.7850  68.7200
273983  2022-04-08 15:57:00  134.7100  68.6700
273984  2022-04-08 15:58:00  134.7800  68.7000
273985  2022-04-08 15:59:00  134.9900  68.8700

[273986 rows x 3 columns]

In [153]:
first_path = os.path.join('temporary_output', 'A.csv')
first_df = pd.read_csv(first_path, sep=',')[['DateTime', 'Close']]
first_df.columns = ['DateTime','A']

                    DateTime         A
0        2005-01-03 09:30:00   15.7088
1        2005-01-03 09:31:00   15.6958
2        2005-01-03 09:32:00   15.7023
3        2005-01-03 09:33:00   15.7088
4        2005-01-03 09:34:00   15.7023
...                      ...       ...
1670871  2022-04-08 15:55:00  134.7460
1670872  2022-04-08 15:56:00  134.7850
1670873  2022-04-08 15:57:00  134.7100
1670874  2022-04-08 15:58:00  134.7800
1670875  2022-04-08 15:59:00  134.9900

[1670876 rows x 2 columns]

In [155]:
csv_dataframe = pd.read_csv('A.csv', sep=',')[['DateTime', 'Close']]
print(csv_dataframe)

                    DateTime     Close
0        2005-01-03 09:30:00   15.7088
1        2005-01-03 09:31:00   15.6958
2        2005-01-03 09:32:00   15.7023
3        2005-01-03 09:33:00   15.7088
4        2005-01-03 09:34:00   15.7023
...                      ...       ...
1670871  2022-04-08 15:55:00  134.7460
1670872  2022-04-08 15:56:00  134.7850
1670873  2022-04-08 15:57:00  134.7100
1670874  2022-04-08 15:58:00  134.7800
1670875  2022-04-08 15:59:00  134.9900

[1670876 rows x 2 columns]

In [156]:
csv_dataframe = pd.read_csv('A.csv', sep=',')[['DateTime', 'Close']]
csv_dataframe.columns = ['DateTime','A']

for file in os.listdir('temporary_output'): 
    global csv_dataframe
    
    path = os.path.join('temporary_output', file)
    ticker = file.replace(".csv","")
    temp_df = pd.read_csv(path, sep=',')[['DateTime', 'Close']]
    temp_df.columns = ['DateTime',ticker]

    csv_dataframe = pd.merge(csv_dataframe, temp_df, on=['DateTime'])

,DateTime,A,ABMD,ANET,ANSS,APH,ASH,AXP,CBH,CINF,...,PFG,PGR,PSX,REG,SANM,SIVB,SO,T,TTWO,URI
0,2020-03-19 13:56:00,65.7436,139.940,45.9875,219.275,33.6956,43.8751,72.1325,5.8978,79.5350,...,25.4438,63.1182,39.2111,35.9514,21.430,173.440,48.0183,27.2350,107.750,73.14
1,2020-03-19 13:59:00,64.7979,138.050,45.8470,218.585,33.5778,43.8361,71.7874,5.8807,79.0747,...,25.2602,62.8760,39.1196,35.7851,21.335,171.280,47.8897,27.1571,108.180,73.31
2,2020-03-19 15:08:00,64.2068,138.850,45.5102,223.555,33.4649,43.8021,73.0185,6.3185,79.3594,...,24.7137,62.2426,39.5371,35.4341,22.140,168.915,47.3799,26.7894,107.820,77.00
3,2020-03-23 14:43:00,62.8179,131.420,40.2875,211.850,34.4514,39.0238,67.3693,5.3741,66.8590,...,22.4774,62.7363,38.1443,31.5591,22.380,150.345,39.8622,23.0001,110.500,71.42
4,2020-03-24 11:14:00,66.4873,141.685,44.6975,214.490,35.3593,41.5443,75.9167,6.0180,70.9593,...,25.2188,64.0637,40.0261,35.1570,24.270,152.670,42.7462,23.6359,111.020,83.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3056,2022-04-08 14:45:00,135.4950,316.005,131.4900,305.050,73.4100,100.0400,183.9100,9.2300,137.3100,...,73.7300,118.3000,84.1500,70.3200,38.570,501.635,76.5900,24.1071,141.220,317.08
3057,2022-04-08 15:28:00,135.4300,317.150,131.6900,305.140,73.6000,100.1600,184.1900,9.2200,137.7800,...,73.9250,118.3500,84.4900,70.5500,38.670,505.080,76.6500,24.1450,141.720,318.41
3058,2022-04-08 15:38:00,135.1200,316.810,131.0950,304.750,73.5150,99.8100,183.8500,9.2200,137.9400,...,73.8400,118.4050,84.2500,70.5700,38.600,503.830,76.6050,24.1350,141.545,317.70
3059,2022-04-08 15:57:00,134.7100,314.325,130.9000,303.010,73.1700,99.4100,183.4250,9.2500,137.8000,...,73.4900,118.2300,84.1350,70.4900,38.350,500.500,76.4050,24.1300,141.335,316.76
3060,2022-04-08 15:59:00,134.9900,313.980,131.0400,303.010,73.3000,99.4700,183.7100,9.2500,137.8100,...,73.6100,118.5000,84.2900,70.5200,38.380,500.370,76.5200,24.1400,141.300,317.30

In [161]:
csv_dataframe.sort_values(by=['DateTime'], inplace=True, ignore_index=True)
csv_dataframe.to_csv('final.csv',index=True)